@font-face {
  font-family: 'Digital7';
  src: url('./fonts/digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.calculator{
    box-sizing: border-box;
    width: min(90vw, 400px);
    padding: 20px;
    background: #222;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

body{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    margin:0;
    background-color: blanchedalmond;
}

.screen{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Digital7';
    height: 80px;
    background-color: rgb(183, 220, 212);
    border-radius: 4px;
}

.buttons {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}

.numbers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
    grid-column: 1;
}

.signs{
    display: grid;
    grid-column: 2;
    gap: 10px;
}
.numbers button,
.signs button{
    aspect-ratio: 1;
}
.equals{
    grid-column: 1/3;
    gap: 10px;
}

button{
    width: 100%;     /* FIXED */
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    background: #444;
    color: white;
}