.container{
    margin-left: 25px;
    width: 500px;
    height: 500px;
    display: flex;
    border: 1px solid black;
    /* ensures the divs break onto a new line when they have filled the space */ 
    flex-wrap: wrap;
}
/*ensures the width includes the border so to not mess up measurements */
* {
    box-sizing: border-box;
}

.squares{
    aspect-ratio: 1/1;
    border: 0.5px solid black;
}
.colour{
    background-color: black;
}
input {
    margin: 25px;
}